<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
  </appender>

  <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c %m %n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="FATAL"/>
    </filter> 
  </appender>
  
  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniController$ExecuteProcer">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniThred">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniGeoReplica">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali.demoni.thread.GeoReplicaProces">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali.businessLogic.oggettoDigitale.implement.OggettoDigitaleGeoReplica">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniCoda">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniValidate">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniSolrIndex">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.businessLogic.oggettoDigitale.implement.OggettoDigitaleSolrIndex">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.demoni.MDDemoni">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="it.bncf.magazziniDigitali.demoni.thread.MDDemoniPublish">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
    
  <category name="it.bncf.magazziniDigitali.businessLogic.oggettoDigitale.OggettoDigitaleBusiness">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.businessLogic.oggettoDigitale.validate.CheckArchiveMD">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.businessLogic.oggettoDigitale.solr">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="mx.randalf.xsd.WriteXsd">
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="mx.randalf.archive.Tar">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="mx.randalf.xsd.ReadXsd">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="org.apache">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="mx.randalf">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>

  <category name="it.bncf.magazziniDigitali.solr">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.hibernate">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
  
  <category name="org.jboss">
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="STDERR"/>
  </category>
</log4j:configuration>
